<!DOCTYPE html>
<html ng-app="chat">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../index.css"/>
    <script src="../rn.js"></script>
    <script src="angular.min.js"></script>
    <script src="chat.js"></script>
</head>

<body>

    <div class="form">
        <form class="form__control" ng-controller="Form as form" ng-submit="form.submit()">
            <input class="form__name" value="{{form.name}}" disabled>
            <textarea class="form__text" rows="5" ng-model="form.text">{{form.text}}</textarea>
            <button type="submit">write</button>
        </form>
    </div>

    <div class="chat" ng-controller="Chat as chat">
        <button ng-click="chat.reset()">reset chat</button>
        <div class="message" ng-repeat="message in chat.list">
            <span class="message__author">{{message.author}}</span>, <span class="message__date">{{message.date}}</span>
            <div class="message__text">{{message.text}}</div>
        </div>
    </div>

</body>
</html>
